@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    text-decoration: none !important;
    list-style: none !important;
}

.header {
    width: 100%;
    background-color: white !important;
}

.bg-arcangel {
    background: url(../img/backgrounds/arcangel_back.jpg) center/cover no-repeat;
    height: 100vh;

}

.opacidad {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(255,247,247);
    background: -moz-linear-gradient(0deg, rgba(255,247,247,1) 0%, rgba(0,0,0,0.5746673669467788) 7%);
    background: -webkit-linear-gradient(0deg, rgba(255,247,247,1) 0%, rgba(0,0,0,0.5746673669467788) 7%);
    background: linear-gradient(0deg, rgba(255,247,247,1) 0%, rgba(0,0,0,0.5746673669467788) 7%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff7f7",endColorstr="#000000",GradientType=1);

}

.opacidad h1 {
    font-weight: 900;
    font-family: "Dancing Script", cursive;
    text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em black;
}

.card-opacity {
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.836);
}

.menu__container {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.822);
}

.menu__lista {
    display: flex;
    width: 90%;
    justify-content: space-between;
}



.card {
    border-radius: 30px !important;
    bottom: 200px;
    background: url(../img/backgrounds/album_card.jpg) center/cover;
}